:root {
  --white-text-color: #fff;
  --accent-color: #FF6C00;
  --title-color: #303030;
  --main-text-color: #555555;
  --pretitle-opacity-color: rgba(157, 164, 189, 0.6);
  --hero-text-color: #9DA4BD;
  --form-opacity-color: rgba(157, 164, 189, 0.4);
  --hero-bg-color: rgba(25, 28, 38, 0.2);
  --light-bg-color: #F7F7F7;
  --dark-bg-color: #191C26;
  --price-bg-color: #111319;
  --main-font: "Open Sans", sans-serif;
  --title-font: "Ralleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.section__title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--title-color);
}
@media screen and (min-width: 460px) {
  .section__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.05em;
  }
}
.section__pretitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: var(--title-color);
  font-weight: 600;
  text-transform: uppercase;
}
.section__pretitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}
.section__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.02em;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .container {
    padding: 0 31px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 39px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 50px;
  }
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: transparent;
  transition: color 250ms, background-color 250ms;
}
.button--textblack {
  color: var(--title-color);
}
.button:hover, .button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--title-color);
  background-color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--accent-color);
  outline: none;
}

.social-list__icon {
  fill: currentColor;
}

.page-header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.page-header__media {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-inner {
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }
}
.header-menu-button.is-open {
  color: var(--title-color);
}
.header-menu-button:hover, .header-menu-button:hover.is-open {
  color: var(--accent-color);
}
.header-menu-button svg {
  fill: currentColor;
}
.header-menu-button .icon-menu-close {
  display: none;
}
.header-menu-button.is-open .icon-menu-close {
  display: block;
}
.header-menu-button.is-open .icon-menu {
  display: none;
}

.header-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 30%;
  width: 70vw;
  height: 100vh;
  padding: 118px 105px 120px 40px;
  background-color: var(--white-text-color);
  opacity: 0.98;
  z-index: 20;
  overflow-y: scroll;
}
.header-menu.is-open {
  display: block;
}

.nav-list, .contact-list {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.389;
  letter-spacing: 0.1em;
  padding-bottom: 64px;
}
.nav-list__item, .contact-list__item {
  padding-bottom: 24px;
}
.nav-list__item:last-child, .contact-list__item:last-child {
  padding-bottom: 0;
}

.logo-icon {
  width: 69px;
  height: 55px;
  fill: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .logo-icon {
    fill: var(--title-text-color);
  }
}

.hero {
  height: 580px;
  padding-top: 208px;
  padding-bottom: 183px;
  background-color: var(--hero-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(/img/mobile/hero-3.jpg);
}
.hero__pretitle {
  color: var(--pretitle-opacity-color);
}
.hero__pretitle::before {
  background-color: var(--pretitle-opacity-color);
}
.hero__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
}
.hero__text {
  max-width: 306px;
  color: var(--hero-text-color);
}
.hero__menu {
  display: none;
}

@media (min-width: 768px) {
  .about .container {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .about .container {
    gap: 64px;
  }
}
.about__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.179;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 340px) {
  .about__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.179;
    letter-spacing: 0.05em;
  }
}
@media (min-width: 1200px) {
  .about__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.05em;
  }
}
.about__pre-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.02em;
}
@media (min-width: 1200px) {
  .about__pre-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
}
.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.857;
  letter-spacing: 0.02em;
}

.about-pict {
  display: none;
}
@media (min-width: 768px) {
  .about-pict {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 2;
  }
}
@media (min-width: 1200px) {
  .about-pict {
    flex-direction: row;
  }
}
.about-pict__img {
  width: 100%;
}

.about-info {
  flex-basis: calc((100% - 30px) / 2);
}

.price {
  background-color: var(--price-bg-color);
  background-image: url(/img/mobile/price.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.price__title {
  margin-bottom: 44px;
  color: var(--white-text-color);
}
.price__pretitle {
  color: var(--pretitle-opacity-color);
}
.price__pretitle::before {
  background-color: var(--pretitle-opacity-color);
}
.price__button {
  margin: 50px auto 0;
}

.price-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price-table__row {
  display: flex;
  align-items: baseline;
  color: var(--hero-text-color);
}
.price-table__first-col {
  white-space: nowrap;
}
.price-table__second-col {
  flex-basis: 100%;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 1rem;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media (min-width: 1200px) {
  .price-wrapper {
    flex-direction: row;
    gap: 0;
  }
}
@media screen and (min-width: 400px) {
  .price-wrapper {
    padding: 30px;
  }
}
@media (min-width: 768px) {
  .price-wrapper {
    padding: 30px 40px;
  }
}
@media (min-width: 1200px) {
  .price-wrapper {
    padding: 0;
  }
}

.price-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.143;
  letter-spacing: 0.02em;
  flex-basis: 50%;
}
@media (min-width: 1200px) {
  .price-list {
    padding: 30px 40px;
  }
  .price-list:first-child {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price-list:last-child {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
@media screen and (max-width: 360px) {
  .price-list {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .price-list {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
}

.price-list__item {
  margin-bottom: var(--typical-margin);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.price-list__item::after {
  content: "";
  width: 10px;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.price-list__text {
  white-space: nowrap;
  color: var(--hero-text-color);
}
.price-list__text:last-child {
  order: 1;
}

.features__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667;
  letter-spacing: 0.02em;
  margin-bottom: 44px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .benefits-list {
    gap: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.benefits-list__item {
  display: block;
  width: 193px;
  height: 133px;
  padding: 20px 20px;
  color: var(--title-color);
  background-color: var(--light-bg-color);
  text-align: center;
}
@media screen and (min-width: 480px) {
  .benefits-list__item:nth-child(odd) {
    margin-right: 30px;
  }
  .benefits-list__item:nth-child(even) {
    margin-top: 30px;
  }
}
.benefits-list__number {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.357;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}
.benefits-list__number sup {
  font-size: 40%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -1.25em;
  color: var(--accent-color);
}
.benefits-list__text {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.364;
  letter-spacing: 0;
}

.masters {
  background-color: var(--light-bg-color);
}

.team-list {
  text-align: center;
}
.team-list__img {
  margin-bottom: 30px;
}
.team-list__title {
  margin-bottom: 8px;
}
.team-list__text {
  margin-bottom: 30px;
}
.team-list__item {
  width: 100%;
  padding-bottom: 64px;
}
.team-list__item:last-child {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}
.gallery__img {
  width: 100%;
}
.gallery__item {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .gallery__item {
    margin-bottom: 0;
  }
}

.contact-wrap {
  background-color: #191c26;
  background-image: url(/img/mobile/contacts.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  max-width: 480px;
  margin: 0 auto;
}

.online {
  padding-top: 84px;
  padding-bottom: 84px;
  text-align: center;
}
.online__title {
  display: block;
  color: var(--white-text-color);
  margin-bottom: 48px;
}
.online__input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 34px;
  padding: 6px;
  border: 0;
  border-bottom: 1px solid var(--form-opacity-color);
  color: var(--white-text-color);
  background-color: transparent;
}
.online__input::placeholder {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--form-opacity-color);
}
.online__textarea {
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 56px;
  padding: 6px;
  border: 0;
  border-bottom: 1px solid var(--form-opacity-color);
  color: var(--white-text-color);
  background-color: transparent;
  resize: none;
}
.online__textarea::placeholder {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--form-opacity-color);
}
.online__button {
  margin: 0 auto;
}

.contacts__title {
  display: block;
  margin-bottom: 48px;
  text-align: center;
  color: var(--white-text-color);
}
.contacts__list {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  text-align: left;
  margin-left: 4px;
  margin-bottom: 44px;
}
@media screen and (min-width: 400px) {
  .contacts__list {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__link {
  display: flex;
  align-items: center;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__icon {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
  stroke: currentColor;
}
.contacts__pretitle {
  color: var(--white-text-color);
}
.contacts__pretitle::before {
  background-color: var(--form-opacity-color);
}
.contacts__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}
@media screen and (min-width: 400px) {
  .contacts__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
}

.footer {
  height: 138px;
  padding: 44px 0;
  background-color: var(--light-bg-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.364;
  letter-spacing: 0.2;
}
@media (min-width: 768px) {
  .footer {
    height: 127px;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 56px 0;
  }
}
.footer__media {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer__media {
    margin-bottom: 0;
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin-top: 30px;
  color: var(--hero-text-color);
}
@media (min-width: 768px) {
  .copyright {
    margin-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .copyright {
    font-size: 9px;
  }
}

.media-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px 20px;
  color: var(--title-color);
}
@media screen and (min-width: 400px) {
  .media-list {
    gap: 24px 40px;
  }
}
.media-list::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}/*# sourceMappingURL=main.css.map */