.section {
  padding-top: 84px;
  padding-bottom: 84px;

  @include for-tablet-up {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include for-desktop-up {
    padding-top: 130px;
    padding-bottom: 130px;
  }
    // margin: 0 auto;

  &__title {
    margin-bottom: 20px;
    font-family: 'Raleway';

    @include fonts(32px, 700, 1.167, 0.05em);
    @media screen and (min-width: 460px) {
      @include fonts(42px, 700 , 1.167, 0.05em);
    }
    color: var(--title-color);

  }

  &__pretitle {
    margin-bottom: 20px;
    @include flexY;
    gap: 20px;
    @include fonts(11px, 600, 1.364, 0.1em);
    color: var(--title-color);
    font-weight: 600;
    text-transform: uppercase;

    &::before {
      content: '';
      display: inline-block;
      width: 60px;
      height: 1px;
      background-color: var(--title-color);
    }
  }


  &__text {
    @include fonts(16px, 400, 1.625);
  }

}

.container {
  // max-width: 480px;
  width: 100%;
  // padding-left: 31px;
  // padding-right: 31px;
  padding: 0 1rem;

  @media screen and (min-width: 400px) {
    padding: 0 31px;
  }

  @include for-tablet-up {
    padding: 0 39px;
  }

  @include for-desktop-up {
    padding: 0 55px;
  }
  margin: 0 auto;
  // background-color: red;

  // @media screen and (min-width: $mobile) {
  //   width: $mobile;
  //   background-color: transparent;
  // }
  
  // @media screen and (min-width: $tablet) {
  //   width: $tablet;
  //   background-color: green;
  // }
  
  // @media screen and (min-width: $desktop) {
  //   width: $desktop;
  //   background-color: blue;
  // }
  @include for-phone-up {
    width: $mobile;
  }

  @include for-tablet-up {
    width: $tablet;
  }

  @include for-desktop-up {
    width: $desktop;
  }


}