@mixin fonts ($fs:14px, $fw:400, $lh:1.857, $ls:0.02em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flexXY ($jc:center, $ai:center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin flexY ($ai:center) {
  display: flex;
  align-items: $ai;
}