.about-pictures {
  display: none;
}

.about {
// width: 100%;
// max-width: 480px;


  &__title {
    @include fonts(28px, 700, 1.179, 0.05em);
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 40px;
    @include fonts(14px);
  }
}