.about {
// width: 100%;
// max-width: 480px;
  .container {
    @include for-tablet-up {
      display: flex;
      gap: $gap;
    }
    @include for-desktop-up {
      gap: 64px;
    }
  }

  &__title {
    @include fonts(26px, 700, 1.179, 0.05em);

    @media screen and (min-width: 340px) {
      @include fonts(28px, 700, 1.179, 0.05em);
    }

    @include for-desktop-up {
      @include fonts(42px, 700, 1.167, 0.05em);
    }
  }

  &__pre-text {
    margin-bottom: 20px;
    @include fonts(16px, 400, 1.625);
    @include for-desktop-up {
      @include fonts(18px, 400, 1.667);
    }

  }
  
  &__text {
    // margin-top: 20px;
    margin-bottom: 40px;
    @include fonts(14px);
  }
}



.about-pict {
  display: none;
  @include for-tablet-up {
    display: flex;
    flex-direction: column;
    gap: $gap;
    flex-grow: 2;
  }

  @include for-desktop-up {
    flex-direction: row;
  }

  &__item {}

  &__img {
    width: 100%;
  }
}

.about-info {
  flex-basis: calc((100% - $gap) / 2);
  // max-width: 330px;
}