.contacts {

  @include for-desktop-up {
    padding-left: 100px;
    width: 625px;
    height: 644px;
  }


  &__title {
    display: block;
    margin-bottom: 40px;
    text-align: center;
    color: var(--white-text-color);
  }

  &__list {
    @include fonts(14px, 400, 1.667);
    @media screen and (min-width: 400px) {
      @include fonts(18px, 400, 1.667);
    }
    color: var(--hero-text-color);
    text-align: left;
    margin-left: 4px;
    margin-bottom: 44px;
    @include for-tablet-up {
      margin-bottom: 0;
    }
    @include for-desktop-up {
      margin-bottom: 70px;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0
    }
  }

  &__link {
    display: flex;
    align-items: center;
    

    &:hover, &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 1rem;
    stroke: currentColor;
  }

  &__pretitle {
    color: var(--white-text-color);

    &::before {
      background-color: var(--form-opacity-color);
    }
  }

  &__text {
    @include fonts(16px, 400, 1.667);
      @media screen and (min-width: 400px) {
        @include fonts(18px, 400, 1.667);
      }
    color: var(--hero-text-color);
  }
}

.address {
  @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
    display: flex;
    justify-content: space-between;
  }
}