.contact-wrap {
  background-color: #191c26;
  background-image: url(/img/mobile/contacts.png);

  background-repeat: no-repeat;
  background-position: center bottom;

  max-width: 480px;
  margin: 0 auto;
  // background-size: calc(50% - 15px);
  // .container {
  //   display: flex;
  // }
}
