.footer {
  height: 138px;
  padding: 44px 0;
  background-color: var(--light-bg-color);
  @include fonts (11px, 600, 1.364, 0.2);

    &__media {
          margin-bottom: 30px;
    }

}

.footer-wrap {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.copyright {
  margin-top: 30px;
  color: var(--hero-text-color);
}

.media-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px 40px;
  color: var(--title-color);

  &::before {
      content: '';
      display: inline-block;
      width: 60px;
      height: 1px;
      background-color: var(--title-color);
    }

}