.footer {
  height: 138px;

  @include for-tablet-up {
    height: 127px;
  }

  padding: 44px 0;
  @include for-tablet-up {
    padding: 56px 0;
  }
  background-color: var(--light-bg-color);
  @include fonts (11px, 600, 1.364, 0.05em);

  @include for-phone-up {
    @include fonts (11px, 600, 1.364, 0.2em);
  }

    &__media {
      margin-bottom: 30px;
      @include for-tablet-up {
        margin-bottom: 0;
      }
    }

}

.footer-wrap {
    display: flex;
    flex-direction: column-reverse;
  @media screen and (min-width: 450px) {
    flex-direction: row;
        // align-items: center;
    justify-content: space-between;
  }
}

.copyright {

  @media screen and (min-width: 450px) {
    margin-top: 30px;
  }

  @include for-tablet-up {
    margin-top: 0;
  }

  color: var(--hero-text-color);
  @media screen and (max-width: 400px) {
    font-size: 9px;
  }
}

// .media-list {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   gap: 24px 20px;
//   @media screen and (min-width: 400px) {
//     gap: 24px 40px;
//   }
//   @include fonts (11px, 600, 1.364, 0.2);
//   color: var(--title-color);
//   transition: color 0.2s;

//   &__link {
//     &:hover, &:focus {
//       color: var(--accent-color);
//     }
//   }

//   &::before {
//       content: '';
//       display: inline-block;
//       width: 60px;
//       height: 1px;
//       background-color: var(--title-color);
//     }
// }