.gallery {


  &__list {
    @include for-tablet-up {
      display: flex;
      flex-wrap: wrap;
      gap: $gap;
    }

    @include for-desktop-up {
      display: flex;
      flex-wrap: nowrap;
      gap: $gap;
    }
  }

    &__img {
      width: 100%;
    }

  &__item {
    margin-bottom: 30px;
    @include for-tablet-up {
      margin-bottom: 0;
    }
  }

}