.masters {
  // width: 480px;
  background-color: var(--light-bg-color);

  .container {
    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
      padding: 0 159px;
    }
  }
  
  @include for-desktop-up {
    padding-bottom: 0;
  }
}

.team-list {
  text-align: center;

  @include for-desktop-up {
    display: flex;
    gap: $gap;
  }

  &__img {
    margin-bottom: 30px;
    width: 100%;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__item {
    padding-bottom: 64px;

    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
      width: 450px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
  




}