.online {
  // max-width: 480px;
  // width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
  text-align: center;
  // background-color: var(--dark-bg-color);

  // &__form {
  //   padding-bottom: 84px;
  // }

  &__title {
    display: block;
    color: var(--white-text-color);
    margin-bottom: 48px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 34px;
    padding: 6px;
    border: 0;
    border-bottom: 1px solid var(--form-opacity-color);
    color: var(--white-text-color);
    background-color: transparent;

    &::placeholder {
      @include fonts(11px, 600, 1.364, 0.1em);
      text-transform: uppercase;
      color: var(--form-opacity-color);
    }
  } 

  &__textarea {
    display: block;
    width: 100%;
    height: 80px;
    margin-bottom: 56px;
    padding: 6px;
    border: 0;
    border-bottom: 1px solid var(--form-opacity-color);
    color: var(--white-text-color);
    background-color: transparent;
    resize: none;
  
      &::placeholder {
        @include fonts(11px, 600, 1.364, 0.1em);
        text-transform: uppercase;
        color: var(--form-opacity-color);
      }
    }

  &__button {
    margin: 0 auto
  }
  
}

.contacts {

  // background-image: url(/img/mobile/contacts.png);

  &__title {
  display: block;
  color: var(--white-text-color);
  margin-bottom: 48px;
}

  &__list {
    @include fonts(18px, 400, 1.667);
    color: var(--hero-text-color);
    text-align: left;
    margin-left: 4px;
    margin-bottom: 44px;
  }

  &__item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0
    }
  }

  &__pretitle {
    color: var(--white-text-color);
    &::before {
      background-color: var(--form-opacity-color);
    }
  }

  &__text{
    @include fonts(18px, 400, 1.667);
    color: var(--hero-text-color);
  }
}