.price {
  // width: 100%;
  // max-width: 480px;
  // height: 826px;
  // padding-top: 84px;
  background-color: var(--price-bg-color);
  background-image: url(../img/mobile/price.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include for-tablet-up{
    background-image: url(../img/tablet/price.png);
  }

  @include for-desktop-up {
    background-image: url(../img/desktop/price.png);
  }

  &__title {
    margin-bottom: 44px;
    color: var(--white-text-color);
  }

  &__pretitle {
    color: var(--pretitle-opacity-color);

    &::before {
      background-color: var(--pretitle-opacity-color);
    }
  }

  &__button {
    margin: 50px auto 0;
  }


}


.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include for-desktop-up {
    flex-direction: row;
    gap: 0; 
  }
  // max-width: 418px;
  // height: 440px;
  padding: 30px 1rem;
  @media screen and (min-width: 400px) {
    padding: 30px;
  }

  @include for-tablet-up {
    padding: 30px 40px;
  }

  @include for-desktop-up {
    padding: 0;


  }

  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include for-desktop-up {
    padding: 30px 40px;
    &:first-child {
      background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
  
    &:last-child {
      background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
  }

  @include fonts(14px, 400, 2.143, 0.02em);
  
  @media screen and (max-width: 360px) {
    font-size: 12px;
  }
  
  @include for-tablet-up {
    @include fonts(18px, 400, 1.667);
  }

  flex-basis: calc(100% / 2);

  // padding: 30px 40px;
  // flex-grow: 1;

}

.price-list__item {
  margin-bottom: var(--typical-margin);
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &::after {
    content: '';
    width: 10px;
    margin-left: 6px;
    margin-right: 6px;
    border-bottom: 1px solid rgba(157, 164, 189, 0.12);
    flex-grow: 1;
  }


}

.price-list__text {
  // font-size: 18px;
  // line-height: 1.67;
  // letter-spacing: 0.02em;
        white-space: nowrap;
 color: var(--hero-text-color);

  &:last-child {
    order: 1;
  }
}
